<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
  </head>
  <body>
    <h1>Signup.......</h1>

    <form action="/user" method="post">
      <label for="name">Enter your full name:</label>
      <input type="text" name="name" required />

      <label for="email">Enter your email:</label>
      <input type="text" name="email" required />

      <label for="password">Enter your password:</label>
      <input type="text" name="password" required />

      <button type="submit">SignUp</button>
    </form>
  </body>
</html>
